.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: wheat;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2em;
  & * {
    font-size: inherit;
  }

  &.open {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .drop-down-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    appearance: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;

    background-color: #ffa500;
    &:hover {
      background-color: #faa200;
    }
    &:active {
      background-color: #ef9f00;
    }

    img {
      height: 1.3em;
      width: auto;
    }

    span {
      max-width: 300px;
      overflow-wrap: break-word;
      font-size: 1.3em;
    }
  }

  .drop-down-items {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border: 2px solid black;

    &.open {
      display: flex;
      width: 100%;
      left: -2px;
      border-radius: 0px 0px 5px 5px;
    }

    .drop-down-item {
      appearance: none;
      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      padding: 0.5em;
      cursor: pointer;
      border-top: 1px solid black;

      background-color: #f5deb3;
      &:hover {
        background-color: #f0d9b0;
      }
      &:active {
        background-color: #e5d6aa;
      }

      &:first-child {
        border-top: none;
      }
    }
  }
}
