.drop-down {
  display: flex;
  flex-direction: column;
  width: min-content;

  background-color: wheat;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2em;
  & * { font-size: inherit; }

  .drop-down-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    appearance: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    /* border-bottom: 2px solid black; */

    background-color: #ffa500;
    &:hover { background-color: #faa200; }
    &:active { background-color: #ef9f00; }

    img {
      height: 1.3em;
      width: auto;
    }

    span {
      font-size: 1.3em;
    }
  }

  .drop-down-items {
    display: flex;
    flex-direction: column;

    position: relative;

    .drop-down-item {
      appearance: none;
      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      padding: 0.5em;
      cursor: pointer;
      border-top: 1px solid black;

      background-color: #f5deb3;
      &:hover { background-color: #f0d9b0; }
      &:active { background-color: #e5d6aa; }
    }
  }
}
